body::-webkit-scrollbar {
  display: none;
}

.container--center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content
}

.lobby--a--center {
  height: 150px;
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: stretch;
  justify-content: space-evenly;
  height: 150px;
  font-size: 50px;
}