<!DOCTYPE html>


<!-- start tag -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>

  <!-- Set -->
  <title>拿取(推薦)</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Package -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.js"></script>
  <script src="https://kit.fontawesome.com/8ede13235f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->

  <!-- Connect -->
  <script src="./js/putOutI.js"></script>

  <!-- Css -->
  <link rel="stylesheet" href="./public/css/putOutI.css" type="text/css">

</head>



<body>

  <div id="putOutI_main">
    <div id="tital">
      <a>衣 物 推 薦</a>
    </div>
    <div id="recommend_main">
      <!--TODO:連接資料/改回圈模式/other還未寫-->
      <div class="recommend_second"  class="grid-item" ng-repeat="clothesGraph in pageList"  ng-init="outerIndex = $index">
        <img class="recommend_third" id="clothesGraph1_{{clothesGraph.Clothes1Id}}" src={{clothesGraph.Clothes1Path}} onmousedown="holdDown(this)"
          onmouseup="holdUp()" ng-show="clothesGraph.Clothes1Path">
        <img class="recommend_third" id="clothesGraph2_{{clothesGraph.Clothes2Id}}" src={{clothesGraph.Clothes2Path}} onmousedown="holdDown(this)"
          onmouseup="holdUp()" ng-show="clothesGraph.Clothes2Path">
      </div>
    </div>
    <div id="page">
      <a style="font-size: 20px;">第{{page}}頁</a>
      <div>
        <a ng-click="Previous()" ng-show="page != 1">上一頁</a>
        <a style="font-size: 30px;">&nbsp / &nbsp</a>
        <a ng-click="Next()" ng-show="page != maxPage">下一頁</a>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------------------------------->
  <!-- 衣物照片 -->

  <div id="putOI-Info" ng-show="putOItype">
    <div class="pictures-one">
      <a><img src="{{clothesInfo.FilePosition}}"></a>
    </div>

    <div class="clothesInfo">
      <div>
        <p style="display: inline;">顏色: {{clothesInfo.ColorName}}</p>
      </div>
      <div>
        <p style="display: inline;">樣式: {{clothesInfo.SubCategoryName}}</p>
      </div>
      <div>
        <p style="display: inline;">使用次數: {{clothesInfo.UsageCounter}}</p>
      </div>
      <div>
        <p style="display: inline;">最後使用時間: {{clothesInfo.ModifyTime}}</p>
      </div>

      <div>
        <span ng-style="set_isFavorite_color()"><i class="fa-solid fa-heart"></i>
        </span>
      </div>
    </div>
    <div>
      <div class="btn-rb-one" onclick="showMask()" ng-click="backToMain()"><a class="btm-rb-one-n" onclick="showMask()"
          ng-click="backToMain()">返 回</a></div>
    </div>

  </div>
  <!----------------------------------------------------------------------------------->
  <!-- button -->
  <div>
    <div class="si-btn-rb-one" ng-click="backToMain()">
      <a class="si-btm-rb-one-n" ng-click="backToMain()">拿 取</a>
    </div>
  </div>
  <!----------------------------------------------------------------------------------->

  <!-- 遮罩 -->
  <div id="mask" style="visibility: hidden"></div>
  <div id="maskT" style="visibility: hidden"></div>
  <div id="maskW" style="visibility: hidden"></div>
  <!-- Menu -->
  <div id="menu">
    <ul>
      <li>
        <a href="./user.html">
          <span class="icon"><i class="fa-solid fa-user"></i></span>
          <span class="menu-button">登入/登出</span>
        </a>
      </li>
      <li>
        <a href="./putIn.html">
          <span class="icon"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
          <span class="menu-button">收納</span>
        </a>
      </li>
      <li style="background-color: rgb(255, 255, 255);">
        <a href="./putOutI.html">
          <span class="icon"><i class="fa-solid fa-shirt" style="color: rgb(161, 175, 255);"></i></span>
          <span class="menu-button" style="color: rgb(161, 175, 255);">拿取(推薦)</span>
        </a>
      </li>
      <li>
        <a href="./putOutS.html">
          <span class="icon"><i class="fa-solid fa-arrow-down-short-wide"></i></span>
          <span class="menu-button">拿取(自選)</span>
        </a>
      </li>
      <li>
        <a href="./setting.html">
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <span class="menu-button">衣物設定</span>
        </a>
      </li>
      <li>
        <a href="./history.html">
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
          <span class="menu-button">歷史存放</span>
        </a>
      </li>
      <li>
        <a href="./other.html">
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
          <span class="menu-button">其他</span>
        </a>
      </li>
      <li>
        <a href="./instruction.html">
          <span class="icon"><i class="fa-solid fa-person-chalkboard"></i></span>
          <span class="menu-button">使用說明</span>
        </a>
      </li>

    </ul>
    <div id="main-button" onclick="ClickMenu()"></div>
    <!-- Menu class 更改 -->
    <script>
      let Mask = document.getElementById('mask');
      let Menu = document.getElementById('menu');
      let MaskT = document.getElementById('maskT');

      function ClickMenu() {
        Menu.classList.toggle('active');
        if (Mask.style.visibility == '') {
          Mask.classList.toggle('active');
          setTimeout(function () {
            Mask.style.visibility = 'hidden';
          }, 500);
        } else {
          Mask.style.visibility = '';
          Mask.classList.toggle('active');
        }
      }

      function showMask() {
        if (MaskT.style.visibility == '') {
          MaskT.style.visibility = 'hidden';
          MaskT.classList.toggle('active');
        } else {
          MaskT.style.visibility = '';
          MaskT.classList.toggle('active');
        }
      }
    </script>
  </div>
  <!-- 天氣 -->
  <div id="weather">
    <div id="weather_left">
      <div id="weather_logo" onclick="ClickWeather()"><img src="./public/sun.png" style="width: 70px;"></div>
      <div></div>
    </div>
    <div id="weather_right">
      <h1 style="position: relative;left:15px">今 日 天 氣</h1>
      <p>天氣: {{weather.Wx}}</p>
      <p>溫度: {{weather.T}} °C</p>
      <p>體感溫度: {{weather.AT}} °C</p>
      <p>最高體感溫度: {{weather.MaxAT}} °C</p>
      <p>最低體感溫度: {{weather.MinAT}} °C</p>
      <p>12小時降雨機率: {{weather.PoP12h}} %</p>
      <p>紫外線指數: {{weather.UVI}} 級</p>
      <p>風速: {{weather.WS}} 級</p>
      <p>相對溼度: {{weather.RH}} %</p>
      <p>舒適度: {{weather.CI}}</p>
    </div>
    <!-- Weather class 更改 -->
    <script>
      let Weather = document.getElementById('weather');
      let WeatherR = document.getElementById('weather_right');
      let MaskW = document.getElementById('maskW');

      function ClickWeather() {
        Weather.classList.toggle('active');
        WeatherR.classList.toggle('active');
        if (MaskW.style.visibility == '') {
          MaskW.classList.toggle('active');
          setTimeout(function () {
            MaskW.style.visibility = 'hidden';
          }, 500);
        } else {
          MaskW.style.visibility = '';
          MaskW.classList.toggle('active');
        }
      }
    </script>
</body>

</html>
<!-- end tag -->