<!DOCTYPE html>


<!-- start tag -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>

  <!-- Set -->
  <title>拿取(推薦)</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Package -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="https://kit.fontawesome.com/8ede13235f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->

  <!-- Connect -->
  <script src="./js/putOutI.js"></script>

  <!-- Css -->
  <link rel="stylesheet" href="./public/css/putOutI.css" type="text/css">

</head>



<body>

  <div id="putOutI_main">
    <div id="tital">
      <a>衣 物 推 薦</a>
    </div>
    <div id="recommend_main">
      <!--TODO:連接資料/改回圈模式-->
      <div class="recommend_second">
        <img class="recommend_third" id="clothesNode_1" src="./public/src/clothes_1.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
        <img class="recommend_third" id="clothesNode_5" src="./public/src/clothes_5.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
      </div>
      <div class="recommend_second">
        <img class="recommend_third" id="clothesNode_2" src="./public/src/clothes_2.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
        <img class="recommend_third" id="clothesNode_6" src="./public/src/clothes_6.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
      </div>
      <div class="recommend_second">
        <img class="recommend_third" id="clothesNode_3" src="./public/src/clothes_3.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
        <img class="recommend_third" id="clothesNode_7" src="./public/src/clothes_7.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
      </div>
      <div class="recommend_second">
        <img class="recommend_third" id="clothesNode_9" src="./public/src/clothes_9.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
      </div>
      <div class="recommend_second">
        <img class="recommend_third" id="clothesNode_4" src="./public/src/clothes_4.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
        <img class="recommend_third" id="clothesNode_8" src="./public/src/clothes_8.jpg" onmousedown="holdDown(this)"
          onmouseup="holdUp()">
      </div>
    </div>
    <div id="page">
      <a style="font-size: 20px;">第1頁</a>
      <div>
        <a>上一頁</a>
        <a style="font-size: 30px;">&nbsp / &nbsp</a>
        <a>下一頁</a>
      </div>

    </div>
  </div>
  <!----------------------------------------------------------------------------------->
  <div id="putOI-Info" ng-show="putOItype">
    <!--TODO:連接資料-->
    <!-- 衣物照片 -->
    <div class="pictures-one">
      <a><img src="./public/src/clothes_1.jpg"></a>
    </div>

    <!-- 衣物資訊/設定 -->
    <div class="clothesInfo">
      <div>
        <p style="display: inline;">顏色: {{}}</p>
      </div>
      <div>
        <p style="display: inline;">樣式: {{}}</p>
      </div>
      <div>
        <p style="display: inline;">使用次數: {{}}</p>
      </div>
      <div>
        <p style="display: inline;">最後使用時間: {{}}</p>
      </div>

      <div>
        <span style="color: rgb(255, 0, 0);position:relative;left: 2px;"><i class="fa-solid fa-heart"></i>
        </span>
      </div>
    </div>
    <div>
      <div class="btn-rb-one" onclick="showMask()" ng-click="backToMain()"><a class="btm-rb-one-n" onclick="showMask()"
          ng-click="backToMain()">返 回</a></div>
    </div>

  </div>
  <!----------------------------------------------------------------------------------->
  <!-- button -->
  <div>
    <div class="si-btn-rb-one" ng-click="backToMain()">
      <a class="si-btm-rb-one-n" ng-click="backToMain()">拿 取</a>
    </div>
  </div>
  <!----------------------------------------------------------------------------------->

  <!-- 遮罩 -->
  <div id="mask" style="visibility: hidden"></div>
  <div id="maskT" style="visibility: hidden"></div>

  <!-- Menu -->
  <div id="menu">
    <ul>
      <li>
        <a href="./user.html">
          <span class="icon"><i class="fa-solid fa-user"></i></span>
          <span class="menu-button">登入/登出</span>
        </a>
      </li>
      <li>
        <a href="./putIn.html">
          <span class="icon"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
          <span class="menu-button">收納</span>
        </a>
      </li>
      <li>
        <a href="./putOutI.html">
          <span class="icon"><i class="fa-solid fa-shirt"></i></span>
          <span class="menu-button" ng-click="takeOut()">拿取(推薦)</span>
        </a>
      </li>
      <li style="background-color: rgb(255, 255, 255);">
        <a href="./putOutS.html">
          <span class="icon"><i class="fa-solid fa-arrow-down-short-wide" style="color: rgb(161, 175, 255);"></i></span>
          <span class="menu-button" style="color: rgb(161, 175, 255);">拿取(自選)</span>
        </a>
      </li>
      <li>
        <a href="./setting.html">
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <span class="menu-button">衣物設定</span>
        </a>
      </li>
      <li>
        <a href="./other.html">
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
          <span class="menu-button">其他</span>
        </a>
      </li>
      <li>
        <a href="./instruction.html">
          <span class="icon"><i class="fa-solid fa-person-chalkboard"></i></span>
          <span class="menu-button">使用說明</span>
        </a>
      </li>

    </ul>
    <div id="main-button" onclick="ClickMenu()"></div>
    <!-- Menu class 更改 -->
    <script>
      let Mask = document.getElementById('mask');
      let Menu = document.getElementById('menu');
      let MaskT = document.getElementById('maskT');

      function ClickMenu() {
        Menu.classList.toggle('active');
        if (Mask.style.visibility == '') {
          Mask.classList.toggle('active');
          setTimeout(function () {
            Mask.style.visibility = 'hidden';
          }, 500);
        } else {
          Mask.style.visibility = '';
          Mask.classList.toggle('active');
        }
      }

      function showMask() {
        if (MaskT.style.visibility == '') {
          MaskT.style.visibility = 'hidden';
          MaskT.classList.toggle('active');
        } else {
          MaskT.style.visibility = '';
          MaskT.classList.toggle('active');
        }
      }
    </script>
  </div>

</body>

</html>
<!-- end tag -->