<!DOCTYPE html>


<!-- start tag -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>

  <!-- Set -->
  <title>衣物設定</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Package -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="https://kit.fontawesome.com/8ede13235f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->

  <!-- Connect -->
  <script src="./js/setting.js"></script>

  <!-- Css -->
  <link rel="stylesheet" href="./public/css/setting.css" type="text/css">
</head>

<body>

  <!--主畫面-->
  <div id="settingMain" ng-show="settingType_Main">
    <div class="mainOptions">
      <button class="btn-white" style="background-color: transparent;" ng-click="goToMatch()">搭配設定</button>
    </div>
    <hr style="border: 0px; border-left: 2px solid rgb(128, 128, 128); margin: 5px;" />
    <div class="mainOptions">
      <button class="btn-white" style="background-color: transparent;" ng-click="goToSingle()">衣物設定</button>
    </div>
  </div>
  <!---------------------------------------------------------------------------------------------------------------->
  <!--搭配設定頁面-->
  <div id="settingMatch">

    <div id="settingMatch_st" ng-show="settingType_Match_st || settingType_Single"><!--TODO:接資料*2 搭配/一般-->

      <!--搭配設定頁面-->
      <div id="class-main">
        <div id="btn-class-main" onclick="clickClass_main()"><a style="position:relative; left: 10px;"><i
              class="fa fa-list-ul" aria-hidden="true"></i> 篩選器</a><a
            style="display:inline; font-size: 25px;">&nbsp&nbsp&nbsp{{nowSubCategory}}</a></div>
        <hr class="hrSet" />
        <div id="class-st">
          <!--最愛-->
          <div class="class-nd">
            <div style="position:relative; left: 8px; font-size:25px;"><a>收藏</a></div>
            <hr class="hrSet" />
            <div class="class-rd" onclick="clickClass_set(this)"><a>全部</a></div>
            <div class="class-rd" onclick="clickClass_set(this)"><a>上半身</a></div>
            <div class="class-rd" onclick="clickClass_set(this)"><a>下半身</a></div>
            <div class="class-rd" onclick="clickClass_set(this)"><a>其他</a></div>
          </div>

          <!--上半身-->
          <div class="class-nd">
            <div style="position:relative; left: 8px; font-size:25px;"><a>上半身</a></div>
            <hr class="hrSet" />

            <div ng-repeat="upper in upperList" class="class-rd" onclick="clickClass_set(this)"
              ng-click="queryClothesBySubCategory(upper.Id,upper.Name)">
              <a>{{upper.Name}}</a>
            </div>
          </div>

          <!--下半身-->
          <div class="class-nd">
            <div style="position:relative; left: 8px; font-size:25px;"><a>下半身</a></div>
            <hr class="hrSet" />

            <div ng-repeat="lower in lowerList" class="class-rd" onclick="clickClass_set(this)"
              ng-click="queryClothesBySubCategory(lower.Id,lower.Name)">
              <a>{{lower.Name}}</a>
            </div>

          </div>

          <!--其他-->
          <div class="class-nd">
            <div style="position:relative; left: 8px; font-size:25px;"><a>其他</a></div>
            <hr class="hrSet" />

            <div ng-repeat="other in otherList" class="class-rd" onclick="clickClass_set(this)"
              ng-click="queryClothesBySubCategory(other.Id,other.Name)">
              <a>{{other.Name}}</a>
            </div>
          </div>
        </div>
        <hr class="hrSet" />
      </div>

      <!-- 選擇列表 -->
      <div class="grid-container">

        <div class="grid-item" ng-repeat="clothesNode in clothesNodeList" ng-init="outerIndex = $index">
          <a ng-click="checkTheFirstPickUpList(clothesNode)">
            <img src="{{clothesNode.FilePosition}}" id="clothesFirstNode_{{clothesNode.Id}}">
          </a>
        </div>
      </div>

      <!--搭配設定頁面 button -->
      <div ng-show="settingType_Match_st">
        <button class="maSt-btn-rb-two" ng-show="pickUp_FirstClohtesNode" ng-click="goToMatchNd()" style="border:none;">
          <a class="maSt-btm-rb-two-n">組合設定</a>
        </button>
        <button class="maSt-btn-rb-one" ng-click="backToMain()" style="border:none;">
          <a class="maSt-btm-rb-one-n">返 回</a>
        </button>
      </div>

      <!-- 衣物設定頁面 button -->
      <div ng-show="settingType_Single">
        <button class="si-btn-rb-three" ng-show="pickUp_FirstClohtesNode" ng-click="returnZeroClothes()" style="border:none;">
          <a class="si-btm-rb-three-n">歸 零</a>
        </button>
        <button class="si-btn-rb-two" ng-show="pickUp_FirstClohtesNode" ng-click="clothes_Set()" style="border:none;" onclick="showMask()">
          <a class="si-btm-rb-two-n">設 定</a>
        </button>
        <button class="si-btn-rb-one" ng-click="backToMain()" style="border:none;">
          <a class="si-btm-rb-one-n">返 回</a>
        </button>
      </div>

    </div>
    <!-------------------------------------------------------------------------->

    <div id="settingMatch_nd" ng-show="settingType_Match_nd">
      <!--搭配設定頁面02-->
      <div id="setM_nd_now">
        <a><img src="{{pickUp_FirstClohtesNode.FilePosition}}"></a>
      </div>
      <hr style="border: 0px; border-left: 2px solid rgb(128, 128, 128); margin: 5px;" />

      <div id="setM_nd_show">

        <div id="setM_nd_have">
          <div id="setM_nd_have_line">
            <div class="grid-item" ng-repeat="clothesNode in clothesNodeList"  ng-init="outerIndex = $index"
              ng-if="clothesNode.CategoryId != pickUp_FirstClohtesNode.CategoryId">
              <a ng-click="checkTheSecondPickUpList(clothesNode)">
                <img src="{{clothesNode.FilePosition}}" id="clothesSecondNode_{{clothesNode.Id}}">
              </a>
            </div>
          </div>
        </div>

        <hr style="border: 0px; border-top: 2px solid rgb(128, 128, 128); margin: 5px;" />

        <div id="setM_nd_set">
          <div class="setM_nd_set_picture">
            <img src="{{pickUp_FirstClohtesNode.FilePosition}}">
          </div>
          <i class="fa-solid fa-plus"></i>
          <div class="setM_nd_set_picture" ng-show="pickUp_SecondClohtesNode">
            <img src="{{pickUp_SecondClohtesNode.FilePosition}}">
          </div>
          <div class="setM_nd_set_set" ng-show="pickUp_SecondClohtesNode">
            <p>組合喜好度: {{clothesMath_like}} <input style="width: 200px" type="range" min="1" max="10" ng-model="clothesMath_like" /></p>
          </div>
        </div>

      </div>
      <!-- 搭配設定頁面02 button -->
      <div>
        <button class="maNd-btn-rb-three" ng-show="pickUp_SecondClohtesNode" ng-click="returnZeroNodeGraph()" style="border:none;">
          <a class="maNd-btm-rb-three-n">歸 零</a>
        </button>
        <button class="maNd-btn-rb-two" ng-show="pickUp_SecondClohtesNode" ng-click="creatNodeGraph()" style="border:none;">
          <a class="maNd-btm-rb-two-n">更 新</a>
        </button>
        <button class="maNd-btn-rb-one" ng-click="goToMatch()" style="border:none;">
          <a class="maNd-btm-rb-one-n">返 回</a>
        </button>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------------------------------------------------->
  <!--衣物設定視窗-->
  <div id="clothesSet-Scene" ng-show="clothesSetType">
    <!-- 衣物照片 -->
    <div class="pictures-one">
      <a><img src="{{pickUp_FirstClohtesNode.FilePosition}}"></a>
    </div>
    
    <!-- 衣物資訊/設定 -->
    <div class="clothesInfo">
      <!----------------------------------------------------------------->
      <div>
        <p style="display: inline;">顏色: </p>
        <select ng-model="clothesNode.ColorId" ng-change="update_clothes()"
          ng-options="color.Id as color.ColorName for color in colors"></select>
      </div>
      <div>
        <p style="display: inline;">樣式: </p>
        <select ng-model="clothesNode.SubCategoryId" ng-change="update_clothes()"
          ng-options="subCategory.Id as subCategory.Name for subCategory in subCategorys"></select>
      </div>
      <div>
        <p>衣物喜好度: {{clothesNode.UserPreferences}} 
          <input style="width:300px" type="range" min="1" max="10" 
            ng-model="clothesNode.UserPreferences" ng-change="update_clothes()"/>
        </p>
      </div>
      <div>
        <p style="display: inline;">是否加入最愛: </p>
        <span ng-style="set_isFavorite_color()" ng-click="heartClicks()">
          <i class="fa-solid fa-heart"></i>
        </span>
      </div>
      <!----------------------------------------------------------------->
    </div>
    <div>
      <button class="st-btn-rb-one" ng-click="clothes_Set()" style="border:none;" onclick="showMask()">
        <a class="st-btm-rb-one-n">返 回</a>
      </button>
    </div>
  </div>
  <!---------------------------------------------------------------------------------------------------------------->
  <!---------------------------------------------------------------------------------------------------------------->

  <!-- 遮罩 -->
  <div id="mask" style="visibility: hidden"></div>
  <div id="maskT" style="visibility: hidden"></div>
  <div id="maskW" style="visibility: hidden"></div>
  <!-- Menu -->
  <div id="menu">
    <ul>
      <li>
        <a href="./user.html">
          <span class="icon"><i class="fa-solid fa-user"></i></span>
          <span class="menu-button">登入/登出</span>
        </a>
      </li>
      <li>
        <a href="./putIn.html">
          <span class="icon"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
          <span class="menu-button">收納</span>
        </a>
      </li>
      <li>
        <a href="./putOutI.html">
          <span class="icon"><i class="fa-solid fa-shirt"></i></span>
          <span class="menu-button">拿取(推薦)</span>
        </a>
      </li>
      <li>
        <a href="./putOutS.html">
          <span class="icon"><i class="fa-solid fa-arrow-down-short-wide"></i></span>
          <span class="menu-button">拿取(自選)</span>
        </a>
      </li>
      <li style="background-color: rgb(255, 255, 255);">
        <a href="./setting.html">
          <span class="icon"><i class="fa-solid fa-gear" style="color: rgb(161, 175, 255);"></i></span>
          <span class="menu-button" style="color: rgb(161, 175, 255);">衣物設定</span>
        </a>
      </li>
      <li>
        <a href="./history.html">
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
          <span class="menu-button">歷史存放</span>
        </a>
      </li>
      <li>
        <a href="./other.html">
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
          <span class="menu-button">其他</span>
        </a>
      </li>
      <li>
        <a href="./instruction.html">
          <span class="icon"><i class="fa-solid fa-person-chalkboard"></i></span>
          <span class="menu-button">使用說明</span>
        </a>
      </li>

    </ul>
    <div id="main-button" onclick="ClickMenu()"></div>
    <!-- Menu class 更改 -->
    <script>
      let Mask = document.getElementById('mask');
      let Menu = document.getElementById('menu');
      let MaskT = document.getElementById('maskT');

      function ClickMenu() {
        Menu.classList.toggle('active');
        if (Mask.style.visibility == '') {
          Mask.classList.toggle('active');
          setTimeout(function () {
            Mask.style.visibility = 'hidden';
          }, 500);
        } else {
          Mask.style.visibility = '';
          Mask.classList.toggle('active');
        }
      }
      function showMask() {
        if (MaskT.style.visibility == '') {
          MaskT.style.visibility = 'hidden';
          MaskT.classList.toggle('active');
        } else {
          MaskT.style.visibility = '';
          MaskT.classList.toggle('active');
        }
      }
      let classSet = document.getElementById('class-main');
      let lestClick = "none";

      function clickClass_main() {
        classSet.classList.toggle('active');
      }

      function clickClass_set(set) {
        if (lestClick == "none") {
          lestClick = set;
          set.classList.toggle('active');
          setTimeout(function () {
            classSet.classList.toggle('active');
          }, 200);
        } else {
          lestClick.classList.toggle('active');
          lestClick = set;
          set.classList.toggle('active');
          setTimeout(function () {
            classSet.classList.toggle('active');
          }, 200);
        }
      }
    </script>
  </div>
  <!-- 天氣 -->
  <div id="weather">
    <div id="weather_left">
      <div id="weather_logo" onclick="ClickWeather()"><img src="./public/sun.png" style="width: 70px;"></div>
      <div></div>
    </div>
    <div id="weather_right">
      <h1 style="position: relative;left:15px">今 日 天 氣</h1>
      <p>天氣: {{weather.Wx}}</p>
      <p>溫度: {{weather.T}} °C</p>
      <p>體感溫度: {{weather.AT}} °C</p>
      <p>最高體感溫度: {{weather.MaxAT}} °C</p>
      <p>最低體感溫度: {{weather.MinAT}} °C</p>
      <p>12小時降雨機率: {{weather.PoP12h}} %</p>
      <p>紫外線指數: {{weather.UVI}} 級</p>
      <p>風速: {{weather.WS}} 級</p>
      <p>相對溼度: {{weather.RH}} %</p>
      <p>舒適度: {{weather.CI}}</p>
    </div>
    <!-- Weather class 更改 -->
  <script>
    let Weather = document.getElementById('weather');
    let WeatherR = document.getElementById('weather_right');
    let MaskW = document.getElementById('maskW');

    function ClickWeather() {
      Weather.classList.toggle('active');
      WeatherR.classList.toggle('active');
      if (MaskW.style.visibility == '') {
        MaskW.classList.toggle('active');
        setTimeout(function () {
          MaskW.style.visibility = 'hidden';
        }, 500);
      } else {
        MaskW.style.visibility = '';
        MaskW.classList.toggle('active');
      }
    }
  </script>
</body>

</html>
<!-- end tag -->