<!DOCTYPE html>


<!-- start tag -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>

  <!-- Set -->
  <title>test</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Connect -->
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->
  <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js" rel="external nofollow"
    rel="external nofollow" rel="external nofollow"></script>
  <script src="./js/PutIn.js"></script>
  <script src="https://kit.fontawesome.com/8ede13235f.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="./CSS/test.css" type="text/css">

</head>



<body>


  <div style="display: inline;">
    <p>樣式: 短袖</p>
    <p>樣式: 短袖</p>
  </div>


</body>

</html>
<!-- end tag -->