<!DOCTYPE html>


<!-- start tag -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>

  <!-- Set -->
  <title>測試用</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Package -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="jslib/angular/angular-touch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="https://kit.fontawesome.com/8ede13235f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->

  <!-- Connect -->
  <script src="./js/test.js"></script>

  <!-- Css -->
  <link rel="stylesheet" href="./public/css/test.css" type="text/css">

</head>



<body>
  <img class="happy" style="height: 250px;width: 200px;" src="./public/src/clothes_1.jpg" onclick="ppp(this)" onmousedown="holdDown()" onmouseup="holdUp(this)" ng-show="!hahaha">
  <img class="happy" style="height: 250px;width: 200px;" src="./public/src/clothes_2.jpg" onclick="ppp(this)" onmousedown="holdDown()" onmouseup="holdUp(this)" ng-show="hahaha">

  <div id="YourElementId">Hi</div>
</body>

</html>
<!-- end tag -->