<!DOCTYPE html>


<!-- start tag -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>

  <!-- Set -->
  <title>測試用</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Package -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="jslib/angular/angular-touch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="https://kit.fontawesome.com/8ede13235f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->

  <!-- Connect -->
  <script src="./js/test.js"></script>

  <!-- Css -->
  <link rel="stylesheet" href="./public/css/test.css" type="text/css">

</head>



<body>

  <div class="wrapper">
    <div class="sun"></div>
    <div class="cloud">
      <div class="cloud1">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="cloud1 c_shadow">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="cloud_s">
      <div class="cloud1">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="cloud1 c_shadow">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="cloud_vs">
      <div class="cloud1">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="cloud1 c_shadow">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="haze"></div>
    <div class="haze_stripe"></div>
    <div class="haze_stripe"></div>
    <div class="haze_stripe"></div>
    <div class="thunder"></div>
    <div class="rain">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="sleet">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="text">
      <ul>
        <li>Mostly Sunny</li>
        <li>Partly Sunny</li>
        <li>Partly Cloudy</li>
        <li>Mostly Cloudy</li>
        <li>Cloudy</li>
        <li>Hazy</li>
        <li>Thunderstorm</li>
        <li>Rain</li>
        <li>Sleet</li>
      </ul>
    </div>
  </div>

</body>

</html>
<!-- end tag -->