<!DOCTYPE html>


<!-- start tag -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>

  <!-- Set -->
  <title>使用者介面</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Package -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="https://kit.fontawesome.com/8ede13235f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->

  <!-- Connect -->
  <script src="./js/user.js"></script>

  <!-- Css -->
  <link rel="stylesheet" href="./public/css/user.css" type="text/css">

</head>

<body>

  <div id="userMain" ng-show="!isEdit">
    <h2 style="font-size: 65px;">使用者資訊</h2>
    <div>
      <div id="userInfo">
        <p style="margin-top: 30px;"></p>
        <a><i class="fa-solid fa-user"></i>使用者名稱:&nbsp; </a>
        <a style="font-size: 50px;">{{user.UserName}}</a>
        <p style="margin-top: 20px;"></p>
        <a>使用者天氣喜好度:&nbsp;</a>
        <a style="font-size: 50px;">{{user.WeatherLike}}</a>
        <p style="margin-top: 20px;"></p>
        <a>使用者所在地:&nbsp;</a>
        <a style="font-size: 50px;">{{user.CityName}} {{user.VillageName}}</a>
        <p style="margin-top: 20px;"></p>
      </div>

      <button class="btn-rb-one" ng-click="openEdit()" style="border:none;">
        <a class="btm-rb-one-n">編 輯</a>
      </button>

    </div>

  </div>

  <div id="userSetting" ng-show="isEdit">
    <h2 style="font-size: 65px;">編輯</h2>
    <div id="userInfo-set">
      <p>使用者名稱: <input class="input-test" ng-model="user.UserName" /></p>
      <p>使用者天氣喜好度: {{user.WeatherLike}} <input type="range" min="-5" max="5" ng-model="user.WeatherLike" /></p>

      <div>
        <div style="margin-top: 10px;" class="select is-multiple pl-4 pt-4" style="width:40%">
          選擇城市
          <select ng-model="user.CityId" ng-options="city.Id as city.CityName for city in allCitys"
            ng-change="isCity_getVillageByCity()"></select>
        </div>
        <div style="margin-top: 10px;" class="select is-multiple pl-3 pt-4" style="width:50%">
          選擇鄉鎮
          <select ng-model="user.VillageId"
            ng-options="village.Id as village.VillageName for village in villageByCity"></select>
        </div>
      </div>
      <p></p>
      <button class="btn-rb-two" ng-click="update_user()" style="border:none;" 
        ng-disabled="!user.VillageId" ng-style="isRequired(user.VillageId)">
        <a class="btm-rb-two-n">更新資料</a>
      </button>

      <button class="btn-rb-one" ng-click="closeEdit()" style="border:none;">
        <a class="btm-rb-one-n">返 回</a>
      </button>
    </div>
  </div>



  <!--------------------------------------------------------------------------------------------------------->
  <!-- 遮罩 -->
  <div id="mask" style="visibility: hidden"></div>
  <div id="maskW" style="visibility: hidden"></div>
  <!-- Menu -->
  <div id="menu">
    <ul>
      <li style="background-color: rgb(255, 255, 255);">
        <a href="./user.html">
          <span class="icon"><i class="fa-solid fa-user" style="color: rgb(161, 175, 255);"></i></span>
          <span class="menu-button" style="color: rgb(161, 175, 255);">使用者</span>
        </a>
      </li>
      <li>
        <a href="./putIn.html">
          <span class="icon"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
          <span class="menu-button">收納</span>
        </a>
      </li>
      <li>
        <a href="./putOutI.html">
          <span class="icon"><i class="fa-solid fa-shirt"></i></span>
          <span class="menu-button">拿取(推薦)</span>
        </a>
      </li>
      <li>
        <a href="./putOutS.html">
          <span class="icon"><i class="fa-solid fa-arrow-down-short-wide"></i></span>
          <span class="menu-button">拿取(自選)</span>
        </a>
      </li>
      <li>
        <a href="./setting.html">
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <span class="menu-button">衣物設定</span>
        </a>
      </li>
      <li>
        <a href="./history.html">
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
          <span class="menu-button">歷史存放</span>
        </a>
      </li>
      <!--
      <li>
        <a href="./other.html">
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
          <span class="menu-button">其他</span>
        </a>
      </li>
      -->
      <li>
        <a href="./instruction.html">
          <span class="icon"><i class="fa-solid fa-person-chalkboard"></i></span>
          <span class="menu-button">使用說明</span>
        </a>
      </li>

    </ul>
    <div id="main-button" onclick="ClickMenu()"></div>
    <!-- Menu class 更改 -->
    <script>
      let Mask = document.getElementById('mask');
      let Menu = document.getElementById('menu');

      function ClickMenu() {
        Menu.classList.toggle('active');
        if (Mask.style.visibility == '') {
          Mask.classList.toggle('active');
          setTimeout(function () {
            Mask.style.visibility = 'hidden';
          }, 500);
        } else {
          Mask.style.visibility = '';
          Mask.classList.toggle('active');
        }
      }
    </script>
  </div>
  <!-- 天氣 -->
  <div id="weather">
    <div id="weather_left">
      <div id="weather_logo" onclick="ClickWeather()"><img src="./public/sun.png" style="width: 70px;"></div>
      <div></div>
    </div>
    <div id="weather_right">
      <h1 style="position: relative;left:15px">今 日 天 氣</h1>
      <p>天氣: {{weather.Wx}}</p>
      <p>溫度: {{weather.T}} °C</p>
      <p>體感溫度: {{weather.AT}} °C</p>
      <p>最高體感溫度: {{weather.MaxAT}} °C</p>
      <p>最低體感溫度: {{weather.MinAT}} °C</p>
      <p>12小時降雨機率: {{weather.PoP12h}} %</p>
      <p>紫外線指數: {{weather.UVI}} 級</p>
      <p>風速: {{weather.WS}} 級</p>
      <p>相對溼度: {{weather.RH}} %</p>
      <p>舒適度: {{weather.CI}}</p>
    </div>
  </div>
  <!-- Weather class 更改 -->
  <script>
    let Weather = document.getElementById('weather');
    let WeatherR = document.getElementById('weather_right');
    let MaskW = document.getElementById('maskW');

    function ClickWeather() {
      Weather.classList.toggle('active');
      WeatherR.classList.toggle('active');
      if (MaskW.style.visibility == '') {
        MaskW.classList.toggle('active');
        setTimeout(function () {
          MaskW.style.visibility = 'hidden';
        }, 500);
      } else {
        MaskW.style.visibility = '';
        MaskW.classList.toggle('active');
      }
    }
  </script>

</body>

</html>
<!-- end tag -->