<!DOCTYPE html>

<html ng-app="myApp" ng-controller="myCtrl">

<head>
  <title>tmpMain</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- javascript  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./js/putInCheck.js"></script>


  <link rel="stylesheet" href="./public/style.css" type="text/css">
</head>

<body>

  <div class="container">
    <div class="user-edit">

      <!-- img clothes -->
      <div class="check-clothes-img-div">
        <a>
          <img src="./public/src/clothes_1.jpg">
        </a>
        <p>樣式: 短袖</p>
        <p>顏色: 白</p>
        <a class="btn-white" ng-click="checkOk()">辨識成功(存入衣櫃)</a>
        <a class="btn-white" href="lobby.html">辨識錯誤(進入選擇畫面)</a>
      </div>
    </div>
  </div>


  <div class="loading" ng-if="isLoading">
    <p>等待中...</p>
  </div>
  <div class="getting" ng-if="isGetting">
    <div class="getting-content">
      <p>存放成功</p>
      <button ng-click="returnLobby()">關閉</button>
    </div>
  </div>
</body>

</html>