@import"./menu.css";

/*底色*/
body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(255, 255, 255) , rgb(140, 140, 254));
  z-index: 1;
}
#class-main{
  position: fixed;
  height: 55%;
  width: 85%;
  top: 5%;
  left: 12%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition:  0.5s;
  /*background-color: antiquewhite;*/
  z-index: 7;
}
#class-main.active{
  height: 9%;
}
#btn-class-main{
  font-size: 30px;
}
#class-st{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*background-color: beige;*/
}
.class-nd{
  height: 100%;
  width: 20%;
  /*background-color: rgb(243, 255, 193);*/
}
.class-rd{
  position: relative;
  left: 8px;
  font-size: 18px;
  color: rgb(122, 122, 122);
  margin: 5px;
}
.class-rd.active{
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.hrSet{
  border: 0px;
  border-top: 1.5px solid rgb(128, 128, 128);
  margin: 5px;
}