@import "menu.css";

/*底色*/
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(255, 255, 255) , rgb(140, 140, 254));
  z-index: 1;
}

#userMain{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  width: 100%;
  height: 88%;
  top:10%;
  z-index: 7;
  /*background-color: azure;*/
}
#userInfo{
  font-size: 40px;
  position: relative;
  left: -15%;
}
/***********************************************************/
#userSetting{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  width: 100%;
  height: 88%;
  top:8%;
  z-index: 7;
  /*background-color: azure;*/
}
#userInfo-set{
  font-size: 40px;
  position: relative;
}
#userInfo-set p{
margin-top: 10px;
}
#userInfo-set select{
  position: relative;
  top: -3px;
  width: 150px;
  height: 33px;
  font-size: 30px;
}
#userInfo-set input{
  position: relative;
  top: -3px;
  width: 200px;
  height: 33px;
  font-size: 30px;
}

/***********************************************************/
.btn-rb-one{
  position: fixed;
  background-color: rgb(124, 124, 255);
  font-size: 40px;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  right: 5%;
  bottom: 5%;

}
.btm-rb-one-n{
  position: fixed;
  right: 10.2%;
  bottom: 6%;
  font-size: 20px;
  color: aliceblue;
}
.btn-rb-two{
  position: fixed;
  background-color: rgb(124, 124, 255);
  font-size: 40px;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  right: 23%;
  bottom: 5%;

}
.btm-rb-two-n{
  position: fixed;
  right: 26.5%;
  bottom: 6%;
  font-size: 20px;
  color: aliceblue;
}