<!DOCTYPE html>

<html ng-app="myApp" ng-controller="myCtrl">

<head>
  <title>Lobby</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- javascript  -->
  <script type="text/javascript" src="./eel.js"></script> <!-- eel.js 是使用eel的必須  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./js/customize.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->

  <!-- 關聯的樣式表 -->
  <link rel="stylesheet" href="./public/style.css" type="text/css">
  <link rel="stylesheet" href="./public/bulma/bulma.css" type="text/css">
  <link rel="stylesheet" href="./public/font-awesome/css/font-awesome.min.css" type="text/css">

</head>

<body>

  <div class="container" style="width: 60%;">
    <div class="div--center">

      <div class="columns">

        <div class="column is-one-third" ng-repeat="upper in uppers">
          <!-- 以迴圈方式產生上衣的tag -->
          <div class="box {{setUpper}}" ng-click="upperCloth(upper)">
            <!-- 當點擊後會呼叫此函式 -->
            <img src="{{upper.url}}"><!-- 上衣的照片 -->
          </div>
        </div>

      </div>
      <div class="columns">

        <div class="column is-one-third" ng-repeat="lower in lowers">
          <!-- 以迴圈方式產生褲子的tag -->
          <div class="box {{setLower}}" ng-click="lowerCloth(lower)">
            <!-- 當點擊後會呼叫此函式 -->
            <img src="{{lower.url}}"><!-- 褲子的照片 -->
          </div>
        </div>

      </div>

      <a class="button is-info is-medium  is-responsive" href="main.html">返回</a>
      <a class="button is-success is-medium  is-responsive">儲存</a>
    </div>
  </div>

</body>

</html>