<!DOCTYPE html>

<html ng-app="myApp" ng-controller="myCtrl">

<head>
  <title>Lobby</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- javascript  -->
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="func.js"></script>

  <!-- 關聯的樣式表 -->
  <link rel="stylesheet" href="./public/style.css" type="text/css">
  <link rel="stylesheet" href="./public/bulma/bulma.css" type="text/css">
  <link rel="stylesheet" href="./public/font-awesome/css/font-awesome.min.css" type="text/css">
</head>

<body>

  <p id="weather_temp"></p>
  <p id="weather_humd"></p>
  <p id="weather_d_tx"></p>
  <p id="weather_d_tn"></p>
  <p id="weather_d_txt"></p>
  <p id="weather_d_tnt"></p>
  <a href="./test1.html">跳轉頁面</a>

  <input type="text" id="inputWeatherPosition" />
  <button ng-click="getWeather(1)">確認</button>

  <p>-----------------------------------------</p>

  <p id="allCity"></p>

  <select ng-model="selectedCity" ng-options="city for city in allCitys" ng-change="getStation()"></select>
  <span> 選擇的城市: {{selectedCity}}</span>
  <br>
  <select ng-model="selectedStation" ng-options="station for station in stationByCity"
    ng-change="getWeather(2)"></select>
  <span> 選擇的氣象站別: {{selectedStation}}</span>

  <p>-----------------------------------------</p>

  <div class="columns">
    <a ng-repeat="(index, city) in allCitys" class="box btn">{{city}}</a>
  </div>



</body>

</html>