<!DOCTYPE html>

<html ng-app="myApp" ng-controller="myCtrl">

<head>
  <title>Lobby</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- javascript  -->
  <script type="text/javascript" src="/eel.js"></script> <!-- eel.js 是使用eel的必須  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="func.js"></script>

  <!-- 關聯的樣式表 -->
  <link rel="stylesheet" href="./public/style.css" type="text/css">
  <link rel="stylesheet" href="./public/bulma/bulma.css" type="text/css">
  <link rel="stylesheet" href="./public/font-awesome/css/font-awesome.min.css" type="text/css">
</head>

<body>

  <div class="card columns">

    <div class="block m-2 column is-one-quarter">
      <div class="select is-multiple pl-4 pt-4" style="width:40%">
        選擇城市
        <select multiple size="8" ng-model="selectedCity" ng-options="city for city in allCitys"
          ng-change="getStation()"></select>
      </div>
      <!-- <span> 選擇的城市: {{selectedCity}}</span> -->

      <div class="select is-multiple pl-3 pt-4" style="width:50%">
        選擇站別
        <select multiple size="8" ng-model="selectedStation" ng-options="station for station in stationByCity"
          ng-change="getWeather()"></select>
      </div>
      <!-- <span> 選擇的氣象站別: {{selectedStation}}</span> -->
    </div>

    <div class="card-content column auto">
      <div class="box mt-5">
        氣象顯示
        <p id="weather_temp">1</p>
        <p id="weather_humd">2</p>
        <p id="weather_d_tx">3</p>
        <p id="weather_d_tn">4</p>
        <p id="weather_d_txt">5</p>
        <p id="weather_d_tnt">6</p>
      </div>
      <p>這下面可以些一些備註，例如今日風大，適合加...</p>
    </div>
  </div>

  <div class="columns">

    <div>
      <button class="button" style="margin:15px">左</button>
    </div>

    <!-- 選擇衣服 -->
    <div class="column is-one-fifth">
      <div>
        <div class="box" style="height:150px"></div>
        <div class="box" style="height:150px"></div>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div class="box">
        <div class="box" style="height:150px"></div>
        <div class="box" style="height:150px"></div>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div>
        <div class="box" style="height:150px"></div>
        <div class="box" style="height:150px"></div>
      </div>
    </div>

    <div>
      <button class="button" style="margin:15px">右</button>
    </div>

    <!-- 按鈕：1. 使用者選單, 2. 自訂義穿著 -->
    <div class="column">
      <div class="box">使用者選單</div>
      <div class="box">自訂義穿著</div>
      <div class="box">返回</div>
    </div>

  </div>


</body>

</html>