@import "Menu.css";

/*底色*/
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(255, 255, 255) , rgb(140, 140, 254));
  
}

#all{
  display: flex;
  position: absolute;
  /*flex-direction: column;*/
  justify-content: center;
  /*align-items: center;*/
  transition: 0.5s;
  width: 85%;
  height: 90%;
  left: 10%;
  top: 5%;
  z-index: 8;
  /*background-color: azure;*/
}

.pictures-one img{
  position: absolute;
  height: 70%;
  top: 15%;
  left: 10%;
  border-radius: 20px;
}

.clothesInfo-Set{
  position: absolute;
  font-size: 40px;
  top: 18%;
  left: 50%;
}
.clothesInfo-Set select{
  top: 0;
  width: 150px;
  height: 35px;
  font-size: 25px;
}
.btn-white{
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 40px;
  border-radius: 5px;
  left: 20%;
}